<html>

<head>
    <meta charset="UTF-8">
    <title>index</title>
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>

    <script src="https://unpkg.com/axios@0.12.0/dist/axios.min.js"></script>
    <script src="https://unpkg.com/lodash@4.13.1/lodash.min.js"></script>
</head>

<body>
    <div class="container-fluid">
        <!-- header -->
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <h1>Page header <small>Subtext for header</small></h1>
                </div>
            </div>
        </div>
        <!-- main -->
        <div class="row">
            <div class="col-md-12">
                <!-- sidebar -->
                <div class="col-md-2 col-md-offset-1">
                    <ul class="list-group">
                        <li class="list-group-item active">Home</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Morbi leo risus</li>
                        <li class="list-group-item">Porta ac consectetur ac</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                    </ul>
                </div>
                <!-- content -->
                <div class="col-md-8" id="app">
                    <div class="jumbotron">
                        <h1>{{hello}}</h1>
                        <p v-bind:title="message">鼠标悬停几秒钟查看此处动态绑定的提示信息！</p>
                        
                        <p v-show="seen">v-show seen控制显示</p>
                        <p v-if="seen">v-if seen控制显示</p>

                        <ol>
                            <li v-for="td in todos">{{td.text}}</li>
                        </ol>
                    </div>

                    <p>{{message2}}</p>
                    <button class="btn btn-default" v-on:click="reverseMessage">反转消息</button>
                    
                    <p>{{message3}}</p>
                    <input type="text" v-model="message3">

                    <hr>
                    <h3>组件式渲染：</h3>
                    <p>
                        <todo-items v-bind:todos="todos"></todo-items>
                    </p>

                    <p>v-html：输出html字符串</p>
                    <div v-html>{{html}}</div>

                    <p>属性绑定：</p>
                    <label><input type="checkbox" v-bind:checked="cbchecked">测试checked属性绑定</label>

                    <p>Test filter</p>
                    <p>{{myTitle}} : {{myTitle | capitalize}}</p>

                    <p>计算属性</p>
                    <p>{{reverseMessage2}}</p>

                    <hr>
                    <h3>yes no question robort</h3>
                    <p>Ask a yes no question:</p>
                    <input style="width:400px;" type="text" v-model="question">
                    <p>{{answer}}</p>

                    <hr>
                    <h3>todo list</h3>
                    <input @keyup.enter="addNewTodo" type="text" v-model="newtodotext" style="width: 400px;" placeholder="add new todo text">
                    <p>TODO List:</p>
                    <ul>
                        <li is="todo-item" v-for="(todo,index) in todolist" :title="todo.text" v-on:remove="todolist.splice(index, 1)"></li>
                    </ul>

                    <hr>
                    <p>按钮点击了{{clickcount}}次</p>
                    <button type="butotn" @click="clickcount+=1">点击+1</button>
                    <button type="butotn" @click="reduceClickCount">点击-1</button>

                    <hr>
                    <p>多行文本</p>
                    <p style="white-space: pre;">{{textarea}}</p>
                    <textarea v-model="textarea" cols="100" rows="5"></textarea>
                    
                    <hr>
                    <p>checkbox+label</p>
                    <input type="checkbox" id="checkbox" v-model="checked">
                    <label for="checkbox">{{ checked }}</label>

                    <hr>
                    <p>v-on emit事件</p>
                    <p>{{total}}</p>
                    <sub-emit v-on:subincrement="parentIncrement"></sub-emit>
                    <sub-emit v-on:subincrement="parentIncrement"></sub-emit>
                    <script stype="text/template" id="subemit_tpl">
                        <button type="button" v-on:click="increment">Click+1</button>
                    </script>

                    <hr>


                    <hr>

                </div>
            </div>
        </div>
        <!-- footer -->
        <div class="row" style="margin-top: 90%;">
            <div class="col-md-12 text-center">
                <div class="well">Copyright © 2017 CoMark</div>
            </div>
        </div>
    </div>
</body>
<script>
    Vue.component('sub-emit',{
        data: function  () {
            return {
                counter: 0
            }
        },
        template: '#subemit_tpl',
        methods: {
            increment: function  () {
                this.counter+=1;
                this.$emit('subincrement');
            }
        }
    });

    Vue.component('todo-items',{
        props: ['todos'],
        template: '<ol><li v-for="td in todos">{{td.text}}</li></ol>'
    });

    Vue.component('todo-item',{
        props: ['title'],
        template: '\
                    <li>\
                      {{ title }}\
                      <button v-on:click="$emit(\'remove\')">X</button>\
                    </li>\
                  ',
    });

    var app = new Vue({
        el:"#app",
        data:{
            hello: "hello vue2.0",
            message: "页面加载于" + new Date(),
            message2: "111点击按钮会变化22",
            message3: "",
            seen: 1,
            todos: [
                      { text: '学习 JavaScript' },
                      { text: '学习 Vue' },
                      { text: '整个牛项目' }
                    ],
            html: '<div class="well">Copyright © 2017 CoMark</div>',
            cbchecked: 1,
            myTitle: "test capitalize",
            firstname: "mark",
            lastname: "xiao",
            fullname: "mark xiao",

            question: "",
            answer: "I cannot give you an answer until you ask a question!",

            newtodotext: "",
            todolist: [{text:"test todo"}],
            clickcount: 0,

            textarea: "",
            checked: 1,
            total: 0,

        },
        methods: {
            reverseMessage: function  () {
                this.message2=this.message2.split('').reverse().join('');
            },
            getAnswer: _.debounce(
                function  () {
                    var vm=this;
                    if(this.question.indexOf("?")==-1){
                        vm.answer="Question usually contain a question mark.;-)";
                        return;
                    }

                    vm.answer="thinking...";
                    axios.get("https://yesno.wtf/api")
                    .then(function  (response) {
                        vm.answer=_.capitalize(response.data.answer);
                    })
                    .catch(function  (error) {
                        vm.answer="Error! Could not reach the API. "+ error;
                    });
                }
            ,500),
            addNewTodo: function  () {
                this.todolist.push({text:this.newtodotext});
                this.newtodotext="";
            },
            reduceClickCount: function  () {
                this.clickcount-=1;
            },
            parentIncrement: function  () {
                this.total+=1;
            }
        },
        filters: {
            capitalize: function  (value) {
                return value.replace(/^(.)(?=.*)/,function (mstr) {
                    return mstr.toUpperCase();
                });
            }
        },
        computed: {
            reverseMessage2: function  () {
                return this.message2.split('').reverse().join('');
            },
            fullname2: function  () {
                return this.firstname+' ' + this.lastname;  
            }
        },
        watch: {
            // firstname: function  (val) {
            //     this.fullname=this.firstname+' '+ this.lastname;
            // },
            // lastname: function  (val) {
            //     this.fullname=this.firstname+' '+ this.lastname;
            // },
            question: function  (val) {
                this.answer="wait for you stop typing...";
                this.getAnswer();
            }


        }

    });


</script>

</html>

